header {
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    width: 100vw;
    height: 100px;
    top: 0;
    inset-block-start: 0;
    backdrop-filter: blur(2rem) saturate(150%);
    background: hsl(3 3 3 / 0.15);
    border-block-end: 1px solid hsl(3 3 3 / 0.25);
    z-index: 50;
.logo{
    margin:0 2rem;
}
    &::after {
        background: linear-gradient(#333, transparent);
        content: "";
        position: fixed;
        inset-block-start: 0;
        inset-inline: 0;
        margin-block-end: -0.125rem;
        display: block;
    }
}
.styles-nav {
    color:var(--battleshipGray);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0;
}
.sectionLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
.styles-nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.styles-nav-others{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}
.styles-navList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}
.style-navList-li{
    display: flex;
    align-items:center;
    font-weight: 600;
}

